<div class="jumbotron">
  <br>
  <br>
  <div class="jumbo-wrapper">
    <div id="mini-wrapper">
    <h1 class="text-center">Welcome to Spark!</h1>
    <p class="text-center">The fastest growing dating site in the world</p>
    <hr>
    <p class="text-center">Here at spark, you don't find love. Love finds you.</p>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-3">
        <a class="btn cool-button cool-btn-1 btn-primary btn-lg lato" ng-click="sign_in()" role="button">Log in</a>
      </div>
      <div class="col-xs-2 col-xs-offset-2">
        <a class="btn cool-button cool-btn-1 btn-primary btn-lg lato" href="#!/register" role="button">Register</a>
      </div>
    </div>
    <br>
    <p class="text-center tag-line">Go ahead, all it takes is that first <i>spark...</i></p>
    </div>
  </div>

</div>
