
  <div class="col-xs-3">
    <h1>Matches</h1>
    <label>Search User </label><input class="form-control" type="text" ng-model="search.username">
      <hr>
    <div class="match_box">
      <div class="matched_message_users" ng-repeat="user in matches | filter:search">
      <img class="message_profile_picture" ng-src="{{user.profile_picture}}" alt="Profile Picture">
        <div class="message_username">
          <h4> {{user.username}}</h4>
          <button ng-click="message_user(user.id)">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="message_box col-xs-9">
    <div>
      <h1 ng-if="messenger==false"> Select a match to message</h1>
      <img ng-if="messenger==true" class="messaging_profile_picture" ng-src="{{messaging_user.profile_picture}}" alt="Profile Picture">
      <h1 class="messaging_username">{{messaging_user.username}}</h1>
    </div>
    <hr>
    <div class="messaging_block">
      <div class="each_message" ng-repeat="message in messages"><p class="receiving_message2" ng-if="message.receiver_id == user_id">{{message.message}}</p><p class="sending_message2" ng-if="message.sender_id == user_id">{{message.message}}</p></div>
    </div>
    <hr>
    <div class="messaging_div">
      <form ng-submit="sendMessage(messaging_user.id)" method="post">
        <textarea ng-model="message.content" rows="10" placeholder="Send a message" class="form-control" cols="60"></textarea>
        <input type="submit" class="btn pull-right" value="Send Message">
      </form>
    </div>
  </div>


<style media="screen">
  .sending_message{
    color: blue;
  }
  .match_box{
    height: 700px;
    overflow: scroll;
  }
  .message_box{
    height: auto;
  }
  .message_profile_picture{
    width: 70px;
    height: 70px;

  }
  .messaging_profile_picture{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
  }
  .messaging_username{
    display: inline-block;
  }
  .matched_message_users{
    background-color: #EBF2FA;
    /*border-left: 3px inset #064789;*/
    border: 3px inset #064789;
    /*border-right: 3px inset #064789;*/
    border-radius: 5px;
    margin-top: 2px;
  }
  .message_username{
    display: inline-block;
    vertical-align: top;
  }
  .messaging_block{
    height: 400px;
  }
  .each_message{
  }
  .sending_message2{
    text-align: right;
  }
  .receiving_message2{
  }
</style>
