<nav id="main-nav" class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/home"><span class="glyphicon glyphicon-flash"></span>Spark<span class="glyphicon glyphicon-flash"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul ng-if="current_user" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle user-dropdown" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Discover<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="#!/discover">Go Search</a></li>
              <li><a ng-href="#!">Mutual Match</a></li>
              <li><a ng-href="#!">Reverse Match</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matches<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="#!">Daily Matches</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Messages<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="#!/messages">View Messages</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
          </li>
          <li class="dropdown">
            <a id="picture-dropdown" class="dropdown-toggle user-picture-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="sm-user-img" ng-src="{{current_user.profile_picture}}"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ng-href="#!/users/{{ current_user_id }}">View Your Profile</a></li>
              <li><a ng-href="#!/users/{{ current_user_id }}/edit">Edit Your Profile</a></li>
              <li><a ng-href="#!">Photos</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle user-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#!">Settings</a></li>
              <li><a ng-click="logout()">Log Out</a></li>
            </ul>
          </li>
          <li>
            <a href="#!">Chat</a>
          </li>
        </ul>
        <ul ng-if="!current_user" class="nav navbar-nav navbar-right">
          <li><a id="nav-login-button" ng-href="#!/login"><button id="sign_in" ng-click="sign_in()">Sign In</button></a></li>
          <li><span class="nav-span">or</span></li>
          <li><a id="nav-register-button" ng-href="#!/register" ng-click="register()"><button id="create_account">Create Account</button></a></li>
        </ul>
    </div>
  </div>
</nav>
