<div>
  <div id="profile-sidebar" class="col-sm-3 text-center">
    <br><br>
    <img id="profile_picture" ng-src="{{user.profile_picture}}" alt="Profile Picture">
    <br><br>
    <a class="btn btn-block btn-primary" href="">Send Message</a>
  </div>
  <div id="profile-content" class="col-sm-9">
    <br>
    <h3>{{ user.username }}</h3>
    <h5>{{ calculateAge(user.birthday) }} year old {{ user.gender }} | {{ location.formatted_address }} | Seeking {{ preferences.gender }}s {{ preferences.minimum_age }} - {{ preferences.maximum_age }} within {{ preferences.distance }} </h5>
    <uib-tabset active="active">
      <uib-tab index="0" heading="About">
        <h3>Details</h3>
        <hr>
        <p ng-if="user.relationship_status">Relationship: {{ user.relationship_status }}</p>
        <p ng-if="!user.relationship_status">Relationship: No Answer</p>
        <p>Have Kids: <span ng-if="user.have_children">Yes</span><span ng-if="!user.have_children">No</span></p>
        <p ng-if="user.have_children && user.number_children">Number of Children: {{ user.number_children }}</p>
        <p ng-if="user.have_chilren && !user.number_children">Number of Children: No Answer</p>
        <p ng-if="user.want_children">Want Kids: {{ user.want_children }}</p>
        <p ng-if="!user.want_children">Want Kids: No Answer</p>
        <p ng-if="user.ethnicity">Ethnicity: {{ user.ethnicity }}</p>
        <p ng-if="!user.ethnicity">Ethnicity: No Answer</p>
        <p ng-if="user.body_type">Body Type: {{ user.body_type }}</p>
        <p ng-if="!user.body_type">Body Type: No Answer</p>
        <p ng-if="user.height">Height: {{ feet }}' {{ inches }}"</p>
        <p ng-if="!user.height">Height: No Answer</p>
        <p ng-if="user.education_level">Education Level: {{ user.education_level }}</p>
        <p ng-if="!user.education_level">Education Level: No Answer</p>
        <p ng-if="user.salary">Salary: {{ user.salary }}</p>
        <p ng-if="!user.salary">Salary: No Answer</p>
        <p ng-if="user.religion">Faith: {{ user.religion }}</p>
        <p ng-if="!user.religion">Faith: No Answer</p>
        <p ng-if="user.smoker">Smoke: {{ user.smoker }}</p>
        <p ng-if="!user.smoker">Smoke: No Answer</p>
        <p ng-if="user.drinker">Drink: {{ user.drinker }}</p>
        <p ng-if="!user.drinker">Drink: No Answer</p>
        <h3>In their own words</h3>
        <hr>
        <p ng-if="user.bio">{{ user.bio }}</p>
        <p ng-if="!user.bio">{{ user.username }} hasn't added a bio yet!</p>
      </uib-tab>
      <uib-tab index="1" heading="Photos">
        <div style="height: 1000px, width: 300px">
          <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
             <div uib-slide ng-repeat="image in images">
               <img ng-src="{{image.image_path}}" style="margin:auto;">
             </div>
           </div>
         </div>
      </uib-tab>
      <uib-tab index="2" heading="Our History">
        History will go here
      </uib-tab>
    </uib-tabset>
  </div>

</div>
