<div>
  <div class="col-md-3">
    To be continued
  </div>
  <div class="col-md-9">
    <div id="profile-links" class="col-sm-12 row">
      <uib-tabset id="home-tabs" active="activePill" vertical="false" type="pills">
        <uib-tab index="0" heading="About" data-ng-click="changeView(1, containerView)"></uib-tab>
        <uib-tab index="1" heading="Photos" data-ng-click="changeView(2, containerView)"></uib-tab>
        <uib-tab index="2" heading="Our History" data-ng-click="changeView(3, containerView)"></uib-tab>
      </uib-tabset>
    </div>
  </div>
</div>
