  <div class="col-md-12 row">
    <br>
    <br>
    <div id="left-sidebar" class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">My Profile</h4>
        </div>
        <div class="panel-body">
          Viewed 0 Times.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Matches</h4>
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-ok"></span> View Matches
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Messages</h4>
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-envelope"></span> Email
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Interests</h4>
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-eye-open"></span> Viewed Me
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-eye-close"></span> Winks
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-star"></span> Favorites
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-thumbs-up"></span> Likes
        </div>
        <div class="panel-body">
          <span class="glyphicon glyphicon-book"></span> Phonebook
        </div>
      </div>
    </div>
    <div id="main-content" class="col-sm-9">

    </div>
  </div>
