<div ng-view=""></div>
<!-- <% if session[:message_id] %>
<div id="message_form">
<div id="messages">
  <%= render @messages%>
</div>
<form>
  <textarea id="message_content" placeholder="send a message... " class="form-control" data-behavior=""></textarea>
  <input type="hidden" id="chatroom" value="<%= session[:message_id]%>">
</form>
</div>
<% end %> -->
<style media="screen">
  #messages{
    overflow: scroll;
    height: 150px;
    width: 200px;
    color: blue
  }
  .sender{
    color: grey
  }
  .receiver{
    color: green;
  }
  #message_form{
    display: static;
    height: 200px;
    width: 200px;
    margin-left: 600px;
    border: 2px solid black;
  }
</style>
