<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Spark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
  <% if @user %>
    <a href="/logout">Logout</a>
  <% end %>
  <navigation></navigation>
  <%= yield %>
    </div>
  </body>
</html>
